{%extends "layout.html"%} # template sintax
{%block content%}

<div class="geocoder">
  <h1>Geocoder App</h1>
     <body>
      <div class="container">
        <h1>Welcome the the geocoder app!</h1>
        <p>
        <h3>Please select the file and then upload it by pressing the button below:</h3>
        <form action="{{url_for('success')}}" method="POST" enctype="multipart/form-data">
        <input type="file" name="file"> <br>
        <button type="submit">Submit</button>
        </form>
        {% include [btn] ignore missing %}
      </div>
    </body>
</div>
{{script1 | safe}}
{{div1 | safe}}
{%endblock%}